        /* fonte ultilizada, back-ground e suas dimenções */

        body {
            font-family: 'Roboto', sans-serif;
            width: 400px;
            height: 200px;
            background-image: url(../extra/Fundo_tela.png);
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }

        /* dimenções do quadrado transparente da div */

        div {
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 80px;
            border-radius: 15px;
            color: white;
        }

        /* dimenções do input */

        input {
            width: 250px;
            padding: 15px;
            border: none;
            outline: none;
            font-size: 15px;
        }

        /* Dimenções, cor e cor das letras do button */

        button {
            background-color: dodgerblue;
            border: none;
            padding: 15px;
            width: 93%;
            border-radius: 10px;
            color: white;
        }

        /* Mudar o cursor quando passar por cima do button e trocar a cor */

        button:hover {
            background-color: deepskyblue;
            cursor: pointer;
        }

        /* adicionando fonte */

        * {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* colocando cor e centralizando as fontes no h2 */

        h2 {
            background-color: #cc0e0e;
            padding: 10px 0;
            text-align: center;
            color: white;
        }

        /* dimenções */

        #produtos {
            max-width: 900px;
            margin: 0 auto;
            padding: 0 2%;
            display: flex;
            flex-wrap: wrap;
        }

        /* dimenções para o espaço do carrinho */

        #carrinho {
            max-width: 900px;
            margin: 0 auto;
            padding: 0 2%;
        }

        /* dimenções para o espaço dos produtos */

        .produto-single {
            width: 32%;
            margin-right: 1%;
            border: 1px solid #ccc;
            margin-top: 20px;
            margin-bottom: 20px;

        }

        /* redimencionando a fonte do "p" do protudo */

        .produto-single p {
            text-align: center;
            font-size: 16px;
            padding: 16px;
        }

        /* deixando as imagens em no lugar certo */

        .produto-single img {
            max-width: 100%;
        }

        /* construindo button */

        .produto-single a {
            text-decoration: none;
            color: white;
            background-color: dodgerblue;
            text-align: center;
            display: block;
            padding: 5px 0;
            font-size: 18px;
        }

        /* colocando estilo no carrinho */

        .info-checkout {
            border-bottom: 2px dotted;
            padding: 10px 0;
        }

        /* menu principal */

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;
            color: rgb(10, 10, 10);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          
          li a:hover:not(.active) {
            background-color: rgb(255, 255, 255);
          }
          
        /* deixando com que a tela se redimensiona automaticamente quando diminuida  */

        @media screen and (max-width: 768px) {
            .produto-single {
                width: 100%;
                margin-right: 0;
            }
        }
